<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Delete <%= title %></title>
  </head>
  <body>
    <%- include("navbar") -%>

    <main class="content-page">
      <h1>
        Are you sure you want to permanently delete the <%= folder.name %>
        folder? (All files in this folder will be deleted)
      </h1>
      <form method="post">
        <input type="hidden" value="<%= folder.id %>" required />
        <button class="delete-btn">Delete folder</button>
      </form>
    </main>
  </body>
</html>
