<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("navbar"); -%>
    <h1>Are you sure you want to permanently delete <%= file.name %></h1>
    <form method="post">
      <input type="hidden" value="<%= file.id %>" required />
      <button>Delete file</button>
    </form>
  </body>
</html>
