<form class="hide-modal" method="POST" action="/folders/create">
  <label for="folderName">Name</label>
  <input id="folderName" name="folderName" required />
  <button>Create Folder</button>
</form>
