<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Invalid Share Url</title>
  </head>
  <body>
    <%- include("navbar") -%>
    <main>
      <h1>Invalid or expired share url</h1>
      <a href="/">Return home</a>
    </main>
  </body>
</html>
