<header>
  <nav class="navbar">
    <ul class="nav-list">
      <li><a class="nav-link logo" href="/">Star Drive</a></li>
      <% if (locals.username) { %>
      <!-- render log out -->
      <li>
        <form method="POST" action="/users/log-out">
          <button class="nav-link nav-btn">Log Out</button>
        </form>
      </li>
      <% } else { %>
      <!-- render login  -->
      <li>
        <a class="nav-link" href="/users/log-in">Log In</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
