@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --mob-pad: 1rem;
}

body {
  font-family: "RobotoCondensed", "Times New Roman", Times, serif;
  color: #202020;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: var(--mob-pad);
  background-color: #fea90f;
  border-bottom: 2.5px solid #521515;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.375rem;
}

.nav-link:hover {
  color: #4f1387;
}

.nav-btn {
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
}

main {
  flex-grow: 1;
  padding: var(--mob-pad);
  background-color: #e5f9fc;
}

.form-page,
.content-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.form-page {
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 3rem;
}

.user-form {
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  background-color: #fbfbfb;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-label {
  font-size: 14px;
}

.form-input {
  border-radius: 4px;
  border: 1px solid #000;
  padding: 4px;
  font-family: inherit;
}

.form-submit {
  margin: 0 auto;
  width: 80px;
  font-family: inherit;
  font-size: 18px;
  padding: 4px;
  border-radius: 4px;
}

.form-submit:hover {
  background-color: #a6f8a6;
}

.other-form-text {
  font-size: 1.125rem;
}

.hide-modal,
.hide {
  display: none;
}

.toggle-btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.toggle-btn,
.delete-btn,
.edit-btn,
.cancel-btn {
  flex-basis: 50%;
  max-width: 8.75rem;
  font-size: 1.375rem;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #acffac;
  cursor: pointer;
}

.edit-btn,
.cancel-btn {
  background-color: #f1ff33;
}

.edit-btn:hover,
.cancel-btn:hover {
  background-color: #f7ff8b;
}

.delete-btn {
  background-color: #ffa4a4;
}

.delete-btn:hover {
  background-color: #ffc5c5;
}

.toggle-btn:hover {
  background-color: #e7f9e7;
}

.list-heading {
  padding-bottom: 0.5rem;
}

.content-list {
  list-style: none;
  padding: 0 0 1.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.list-link {
  text-decoration: none;
}

.list-link:hover {
  text-decoration: underline;
  font-weight: 600;
}

.file-title {
  word-break: break-all;
}
